@page "/"

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Annie website</title>
    <link rel="stylesheet" href="/css/StyleSheet.css">
    <link href="https://fonts.googleapis.com/css2?family=Caveat&family=Dancing+Script&family=Merriweather&family=Montserrat&family=Sacramento&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <input type="checkbox" id="toggler">
        <label for="toggler" class="fas fa-bars"></label>
        <a href="#" class="logo">Bridge2Hope<span>.</span></a>
        <nav class="navbar">
            <a href="#home">Home</a>
            <a href="#about">About</a>
            <a href="#organizations">Organizations</a>
            <a href="#review">Review</a>
            <a href="#contact">Contact</a>
            <a href="/Login" class="btn btn-outline-dark">Sign up</a>
        </nav>
        <div class="icons">

            <a href="#" class="fas fa-heart"></a>
            <a href="#" class="fas fa-user"></a>
        </div>
    </header>
    <section class="home" id="home">
        <div class="content">
            <h3>Bridge2Hope</h3>
            <span>Open your heart, lend a helping hand</span>
            <p>Your donation has the power to transform lives, providing much-needed support and opportunities for those who need it the most</p>
            <a href="/Counter" class="btn">Donate now</a>
        </div>
    </section>

    <section class="about" id="about">
 <h1 class="heading"><span>About</span>  us</h1>
 <div class="row">
    <div class="image">
        <img src="NewFolder1/donatenow.jpg" alt="" width="30">
    </div>
    <div class="content">
        <h3>Why choose us?</h3>
        <p> Choose us for our extensive network of impactful charitable organizations, ensuring that your donations make a lasting difference in areas such as education, healthcare, poverty alleviation, and environmental sustainability. We prioritize transparency and accountability, providing regular updates and reports on how your contributions are being used. With personalized giving options, you can support causes that align with your values and interests. Our easy and secure donation process makes it convenient for you to contribute and be part of a compassionate community creating positive change. 
        Join us and experience the joy of transforming lives through your generosity.</p>
        <a href="#" class="btn">Learn more</a>

    </div>
 </div>
 </section>
    <section class="icons-container">
        <div class="icons">
            <img src="NewFolder1/ribbon.png" alt="">

            <div class="info">
                <h3>Supporting Hope</h3>
                <span>uniting hearts,Transforming lives</span>
            </div>
        </div>


        <div class="icons">
            <img src="NewFolder1/gift.png" alt="">

            <div class="info">
                <h3>Offers and Gifts</h3>
                <span>On all donations</span>
            </div>
        </div>

        <div class="icons">
            <img src="NewFolder1/donation.png" alt="">

            <div class="info">
                <h3>Together,we give</h3>
                <span>Join hands,make a difference</span>
            </div>
        </div>

        <div class="icons">
            <img src="NewFolder1/payment.png" alt="">

            <div class="info">
                <h3>Secure payment</h3>
                <span>Your peace of mind,Our top priority</span>
            </div>
        </div>

    </section>


    <section class="organizations" id="organizations">
    <h1 class="heading">Best<span> Organizations</span></h1>

    <div class="box-container">
<div class="box">
    <span class="support">Support</span>
    <div class="image">
                    <img src="NewFolder1/edhi logo.jpeg" alt="" width="200">
        <div class="icons">
            <a href="#" class="fas fa-heart"></a>
            <a href="/Donation" class="cart-button">Donate now</a>
            <a href="#" class="fas fa-share"></a>
        </div>
    </div>
    <div class="content">
        <h3>Edhi foundation</h3>
        <div class="Orname">Live and let live</div>
    </div>
</div>
<div class="box">
    <span class="support">Support</span>
    <div class="image">
                    <img src="NewFolder1/TCF.jpeg" alt="" width="200">
        <div class="icons">
            <a href="#" class="fas fa-heart"></a>
                        <a href="/Donation" class="cart button">Donate now</a>
            <a href="#" class="fas fa-share"></a>
        </div>
    </div>
    <div class="content">
        <h3>The citizens foundation</h3>
        <div class="Orname">Unlocking the potential of the less priviliged</div>
    </div>
</div>
<div class="box">
    <span class="support">Support</span>
    <div class="image">
                    <img src="NewFolder1/AKHUWAR.jpeg" alt="" width="200">
        <div class="icons">
            <a href="#" class="fas fa-heart"></a>
                        <a href="/Donation" class="cart button">Donate now</a>
            <a href="#" class="fas fa-share"></a>
        </div>
    </div>
    <div class="content">
        <h3>Akhuwat foundation</h3>
        <div class="Orname">Poverty alleviation through interest-free microfinance</div>
    </div>
</div>

<div class="box">
    <span class="support">Support</span>
    <div class="image">
                    <img src="NewFolder1/indus.jpeg" alt=" " width="200">
        <div class="icons">
            <a href="#" class="fas fa-heart"></a>
                        <a href="/Donation" class="cart button">Donate now</a>
            <a href="#" class="fas fa-share"></a>
        </div>
    </div>
    <div class="content">
        <h3>Indus Hospital Trust</h3>
        <div class="Orname">Providing quality healthcare, free of cost."</div>
    </div>
</div>

<div class="box">
    <span class="support">Support</span>
    <div class="image">
                    <img src="NewFolder1/sylyani.jpeg" alt="" width="200">
        <div class="icons">
            <a href="#" class="fas fa-heart"></a>
                        <a href="/Donation" class="cart button">Donate now</a>
            <a href="#" class="fas fa-share"></a>
        </div>
    </div>
    <div class="content">
        <h3>Saylani Welfare International Trust</h3>
        <div class="Orname">Serving humanity with dignity and compassion.</div>
    </div>
</div>

            <div class="box">
                <span class="support">Support</span>
                <div class="image">
                    <img src="NewFolder1/sos.jpeg" width="200">
                    <div class="icons">
                        <a href="#" class="fas fa-heart"></a>
                        <a href="/Donation" class="cart button">Donate now</a>
                        <a href="#" class="fas fa-share"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>SOS Children's Villages Pakistan</h3>
                    <div class="Orname">A loving home for every child</div>
                </div>
            </div>
        </div>
    </section>
    <section class="review" id="review">
    <h1 class="heading"> Donor's<span> Review</span></h1>
    <div class="box-container">
      <div class="box">
<div class="stars">
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>

</div>
<p> I appreciate the efforts of Bridge2Hope in creating a platform that fosters trust and makes a real difference in the community. 
    Their dedication to connecting donors like me with reputable organizations is commendable. I highly recommend Bridge2Hope to 
    anyone looking to make a meaningful contribution and support worthy causes.</p>
    <div class="user">
                    <img src="NewFolder1/Qurat1.jpg" alt=" " width="200">
        <div class="user-info">
            <h3>Qurat Ul Ain</h3>
            <span>Happy Donor</span>
        </div> 
    </div>
<span class="fas fa-quote-right"></span>
</div>

<div class="box">
    <div class="stars">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
    
    </div>
    <p> Not only did Bridge2Hope provide a secure and hassle-free donation process, but they also ensured transparency by connecting me directly to trusted organizations. It's refreshing to see 
        the impact of my donation and witness the positive change it brings to the lives of those in need.</p>
        <div class="user">
                    <img src="NewFolder1/sadia.jpg" alt=" " width="100">
            <div class="user-info">
                <h3>Sadia Anam</h3>
                <span>Happy Donor</span>
            </div> 
        </div>
    <span class="fas fa-quote-right"></span>
    
          </div>


          <div class="box">
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            
            </div>
            <p> Bridge2Hope has been an incredible platform for me to donate and support various organizations. I recently donated through their website, and I am extremely satisfied with the experience. 
                The process was seamless and user-friendly, making it convenient for me to contribute to causes I care about.</p>
                <div class="user">
                    <img src="NewFolder1/Beren.jpg" alt=" " width="200">
                    <div class="user-info">
                        <h3>Beren saat</h3>
                        <span>Happy Donor</span>
                    </div> 
                </div>
            <span class="fas fa-quote-right"></span>
            
                  </div>
                 </div>
                 </section>
<section class="contact" id="contact">
    <h1 class="heading"><Span>Contact</Span>  us</h1>
    <div class="row">
        <form action="">
            <input type="text" placeholder="Name" class="box" id="name">
            <input type="email" placeholder="Email" class="box" id="email">
            <input type="number" placeholder="Number" class="box" id="number">
            <textarea name="" class="box" placeholder="Message" id="message" cols="30" rows="10"></textarea>
            <button onclick="Message(event)" class="btn">Send Message</button>
        </form>
        <div class="image">
            <img src="img.jpeg" alt="">
        </div>
    </div>
</section>
<section class="footer">
    <div class="box-container">
        <div class="box">

            <h3>Quick Links</h3>
            <a  href ="#">Home</a>
            <a  href ="#">About</a>
            <a  href ="#">Organizations</a>
            <a  href ="#">Review</a>
            <a  href ="#">Contact</a>
        </div>
        <div class="box">

            <h3>Extra Links</h3>
            <a  href ="#">My account</a>
            <a  href ="#">My donations</a>
        </div>


        <div class="box">

            <h3>Locations</h3>
            <a  href ="#">India</a>
            <a  href ="#">USA</a>
            <a  href ="#">Pakistan</a>
            <a  href ="#">Japan</a>
            <a  href ="#">France</a>
        </div>

        <div class="box">

            <h3>Contact info</h3>
            <a  href ="#">+92123456778</a>
            <a  href ="#">QuratUlAin@gmail.com</a>
            <a  href ="#">Sadia@gmail.com</a>
            <a  href ="#">Islamabad,Pakistan</a>
        </div>

    </div>
    <div class="credit" >created by<span> Bridge2Hope</span> |all rights reserved</div>
</section>




</body>
</html>
